body{
    margin: 0;
    padding: 0;
}
#topbar {
    width: 100vw;
    height: 40px;
    background-color: #006341;
}
#rewards{
    float: right;
    padding-right: 300px;
    padding-top: 10px;
    color: white;
    text-decoration: underline;
}
nav{
    background-color: #f7f7f7;
    width: 100vw;
    height: 98px;
}
ul{
    list-style: none;
    padding-top: 18px;
    padding-left: 300px;
    margin-top: 0;
    display: inline-block;
}
ul li{
    display: inline;
    padding: 11px 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #5b5959
}
.locator{
    height: 28px;
    width: 20px;
}
#herosection{
    width: 100vw;
    height: 560px;
    background-image: url("//globalassets.starbucks.com/assets/bb9cbcff41ef47fea5ea945eecf42cf1.jpg");
}
h1{
    float: right;
    color: white;
    font-size: 38.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 180px;
    padding-right: 80px;
}
h2{
    float: right;
    color: white;
    text-decoration: none;
    font-size: 16.8px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 280px;
}
#brewed{
    width: 100vw;
    height: 475px;
    background-color: initial;
}
#cup{
   padding-left: 330px;
   padding-top: 8px;
}
#fall{
    color: #1e3932;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 20px;
    float: right;
    padding-top: 170px;
    padding-right: 490px;
}
p{
    color: #1e3932;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 200px;
    float: right;
}
:right{
    float: right;
}
#enjoy{
    width: 100vw;
    height: 475px;
}
#coffee{
    width: 100vw;
    height: 475px;
}
#footernav{
    width: 100vw;
    height: 50px;
}
.facebook{
    width: 26px;
    height: 31px;
}
.twitter{
    width: 26px;
    height: 31px;
}
.googleplus{
    width: 26px;
    height: 31px;
}
.pinterest{
    width: 26px;
    height: 31px;
}
.instagram{
    width: 26px;
    height: 31px;
}
#socialmedia{
    float: left;
}
#email{
    float: right;
}